:root {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  --sidebar-color: white;
  --sidebar-margin: 40px;
  --icon-margin-left: -1.1rem;
  --icon-size: 1.2rem;
  --searchbar-size: 1.5rem;
  --content-margin: 50px;
  --sidebar-color: #3b82f6;
  --sidebar-font-color: white;
  --main-content-color: #e2e8f0;
  --font-color: gray;
  --card-background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 1180px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 350px 1fr;
}

.sidebar {
  background-color: var(--sidebar-color);
  display: grid;
  grid-template-rows: 1fr 9fr;
  max-height: 1180px;
  z-index: 11;
}

.content {
  display: grid;
  grid-template-rows: 2fr 8fr;
}

.topbar {
  display: grid;
  grid-template: 1fr 150px / 600px 1fr 600px;
  grid-template-areas:
    "search-container search-container current-user"
    "user-info . button-container";
  box-shadow: 0px -8px 30px -10px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.main-content {
  background-color: var(--main-content-color);
  display: grid;
  grid-template-columns: minmax(700px, 7fr) 400px;
}

.logo {
  font-size: 1.5rem;
  color: var(--sidebar-font-color);
  display: block;
  list-style-type: decimal;
  padding-block-start: 1em;
  padding-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: var(--sidebar-margin);
}

.main-options {
  display: grid;
  grid-template-rows: 350px minmax(350px, 4fr) 1fr;
}

.search-container {
  grid-area: search-container;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
}

.search-bar {
  width: 80%;
  height: var(--searchbar-size);
  background-color: var(--main-content-color);
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 1rem;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

span.search-icon::before {
  content: " ";
  background-image: url(./icons/magnify.svg);
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  height: var(--searchbar-size);
  width: var(--searchbar-size);
}

.search-bar:focus,
.search-bar:hover {
  outline: none;
}

.current-user {
  grid-area: current-user;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2.8fr 0.5fr;
  grid-template-areas: ". notification user-icon username .";
}

.user-info {
  grid-area: user-info;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "user-icon username";
  margin-left: -25px;
}

.button-container {
  grid-area: button-container;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding-right: 80px;
}

.button {
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: rgb(30, 130, 190);
  border: none;
  height: 2rem;
  width: 4.8rem;
  border-radius: 4ch;
  align-self: center;
}

button:hover {
  background-color: rgb(30, 140, 190);
  box-shadow: 1px 2px #666;
}

button:active {
  background-color: rgb(30, 180, 190);
  box-shadow: 1px 2px #666;
  transform: translateX(-1px);
  transform: translateY(2px);
}

.notif-icon {
  grid-area: notification;
  background-image: url(./icons/bell-ring-outline.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transform: scale(0.6);
  display: flex;
  margin: auto;
  margin-right: 0;
}

.profile-icon {
  grid-area: user-icon;
  background-color: gold;
  background-image: url(./profile-icons/cat-profile.png);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  transform: scale(1.1rem);
  display: flex;
  margin: auto;
}

.username {
  display: flex;
  grid-area: username;
  justify-content: center;
  align-items: center;
}

.user-info>.user {
  grid-area: username;
  align-self: center;
}

.small-text {
  font-size: 0.7rem;
}

.user-info>.profile-icon {
  display: flex;
  grid-area: user-icon;
  transform: scale(1.5);
  margin-right: 1.5rem;
}

.card-container {
  display: grid;
  gap: 40px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(330px, 0.4fr));
  align-content: center;
  justify-content: space-evenly;
}

.card {
  background-color: var(--card-background-color);
  color: var(--font-color);
  font-weight: 100;
  height: 222px;
  font-family: "helvetica";
  border-radius: 8px;
  padding: 20px;
}

.right-side-container {
  background-color: var(--card-background-color);
  font-weight: 100;
  font-size: 0.8rem;
  font-family: "helvetica";
  padding: 30px;
  color: var(--font-color);
  width: 75%;
  margin: auto;
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.trending {
  font-size: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  gap: 20px 10px;
}

hr {
  border: 0;
  border-top: 1px solid var(--main-content-color);
  margin: 20px 0px;
}

ol,
ul {
  display: grid;
  grid-template-rows: repeat(6, 50px);
  align-items: center;
  margin-bottom: 0px;
  padding-inline-start: var(--sidebar-margin);
}

li,
a {
  color: var(--sidebar-font-color);
  text-decoration: none;
  list-style: none;
  position: relative;
}

.home::before {
  content: url(./icons/home.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.profile::before {
  content: url(./icons/card-account-details-outline.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.message::before {
  content: url(./icons/message-reply.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.history::before {
  content: url(./icons/clock-time-three.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.task::before {
  content: url(./icons/file-multiple.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.communities::before {
  content: url(./icons/account-group.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.settings::before {
  content: url(./icons/cog.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.support::before {
  content: url(./icons/help-box.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.privacy::before {
  content: url(./icons/shield-check.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: var(--icon-size);
  vertical-align: middle;
  margin-right: calc(var(--icon-margin-left) * -1);
}

.logo::before {
  content: url(./icons/view-dashboard.svg);
  display: inline-block;
  position: relative;
  filter: invert();
  width: calc(var(--icon-size) * 2);
  vertical-align: middle;
  margin-right: calc((var(--icon-margin-left) * -1) / 2);
  margin-left: calc(var(--icon-margin-left) / 2);
}

div.trending>span:nth-child(1) {
  content: " ";
  background-image: url(./profile-icons/cat-profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 90%;
  height: 40px;
  width: 40px;
  background-color: gold;
  border-radius: 50%;
}

div.trending>span:nth-child(3) {
  content: " ";
  background-image: url(./profile-icons/cat-profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 90%;
  height: 40px;
  width: 40px;
  background-color: gold;
  border-radius: 50%;
}

div.trending>span:nth-child(5) {
  content: " ";
  background-image: url(./profile-icons/superhero-profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 55%;
  height: 40px;
  width: 40px;
  background-color: #666;
  border-radius: 50%;
}

div.trending>span:nth-child(7) {
  content: " ";
  background-image: url(./profile-icons/pngwing.com.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 55%;
  height: 40px;
  width: 40px;
  background-color: #666;
  border-radius: 50%;
}

.user,
span.icon:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0px;
}

.topbar,
.left-content,
h3:not(.left-content > h3:first-child) {
  padding-left: var(--content-margin);
}

div.right-side-container {
  margin-bottom: 55px;
}

b {
  color: black;
  font-weight: bold;
}